@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,900;1,300;1,700;1,900&display=swap');
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #cc9ee0;
}
.wrapper{
    background: white;
    width: 400px;
    border-radius: 7px;
}
.wrapper header{
    color: #65367a;
    font-size: 21px;
    font-weight: 500;
    padding: 16px 15px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #bfbfbf;
}
header i{
    cursor: pointer;
    margin-right: 8px;
}
.wrapper.active header i{
    font-size: 30px;
    margin-left: 5px;
}
.wrapper .input-part{
    margin: 20px 25px 30px;
}
.wrapper.active .input-part{
    display: none;
}
.input-part .info-txt{
    font-size: 17px;
    text-align: center;
    padding: 12px 10px;
    border-radius: 7px;
    display: none;
}
.info-txt.error{
    color: #be413d;
    background: #f6a2a2;
    border: 1px solid #cc4c40;
    display: block;
}
.info-txt.pending{
    color: #348a50;
    background: #b0efbb;
    border: 1px solid #307e45;
    display: block;
}
.input-part :where(input, button){
    width: 100%;
    height: 55px;
    border: none;
    outline: none;
    border-radius: 7px;
    font-size: 18px;
}
.input-part input{
    border: 1px solid #bfbfbf;
    text-align: center;
}
.input-part input:is(:focus, :valid){
    border: 2px solid #8a57be;
}
.input-part .separator{
    height: 1px;
    width: 100%;
    margin: 25px 0;
    background: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separator::before{
    content: "or";
    color: #ccc;
    font-size: 19px;
    padding: 0 15px;
    background: #fff;
}
.input-part button{
    color: white;
    background: #cc9ee0;
    cursor: pointer;
}
.wrapper .weather-part{
    margin: 30px 0 0;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.wrapper.active .weather-part{
    display: flex;
}
.weather-part img{
    max-width: 125px;
}
.weather-part .temp{
    display: flex;
    font-size: 72px;
    font-weight: 500;
}
.weather-part .temp .numb{
    font-weight: 600;
}
.weather-part .temp .deg{
    font-size: 40px;
    margin: 10px 5px 0 0;
    display: block;
}
.weather-part .location{
    display: flex;
    align-items: center;
    font-size: 21px;
    margin-bottom: 30px;
}
.location{
    font-size: 22px;
    margin-right: 5px;
}
.weather-part .bottom-details{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #bfbfbf;
}
.bottom-details .column{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}
.column i{
    font-size: 40px;
    color: #8a57be;
}
.column.humidity{
    border-left: 1px solid #bfbfbf;
}
.details .temp, .humidity span{
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}
.details .temp .deg {
    padding: 0 2px 0 1px;
    font-size: 17px;
}
.details p{
    font-size: 14px;
    margin-top: -6px;
}